<app-header showCart="{{ false }}" headerImage="/assets/img/bestellbestaetigung.jpg"></app-header>

<div class="container">
  <h1 class="heading">Bestellbestätigung</h1>

  <p>
    Vielen Dank für Ihre Bestellung. Wir werden Sie benachrichtigen, sobald Ihr(e) Artikel versandt wurde(n).
    <br/>
    Sie finden das voraussichtliche Lieferdatum weiter unten. Um Ihre Bestellung anzusehen oder zu stornieren,
    kontaktieren Sie den Service Desk.
  </p>

  <p><b>Voraussichtliches Lieferdatum: </b>{{ deliveryDate | date : 'fullDate' }}</p>

  <p style="text-align: center;">
    <button class="btn btn-secondary" (click)="redirectToShop()">
      <a href="/">Weiter einkaufen</a>
    </button>
  </p>
</div>

<app-footer></app-footer>
