<div class="container information">

  <div class="row" *ngIf="imageLeft">
    <div class="col-md-6 col-sm-12 information-image">
      <img src="/assets/img/{{ info.imageName }}"/>
    </div>

    <div class="col-md-6 col-sm-12 col-12 information-content">
      <h2 class="headingInformation">{{ info.headline }}</h2>
      <p>{{ info.text }}</p>
    </div>
  </div>

  <!-- TODO: remove duplicate code -->
  <div class="row" *ngIf="!imageLeft">
    <div class="col-md-6 col-sm-12 col-12 information-content">
      <h2 class="headingInformation">{{ info.headline }}</h2>
      <p>{{ info.text }}</p>
    </div>

    <div class="col-md-6 col-sm-12 information-image">
      <img src="/assets/img/{{ info.imageName }}"/>
    </div>
  </div>

</div>
