@import "../../../styles";

.footer {
  margin-top: 100px;
  margin-bottom: 100px;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  background: $secondary-brand-color-lighter;
}

.iconSubtitle {
  color: $secondary-brand-color-dark;
  font-weight: 700;
  font-size: 18px;
  padding-top: 15px;
}

.h1 {
  margin-top: 100px;
}

.footer-sortiment {
  margin-top: 50px;
  color: $secondary-brand-color-middle;
  text-align: center;
  line-height: 2.5;
}

.footer-logo {
  text-align: center;
  margin-top: 80px;
  margin-bottom: 50px;
}

.footer-logo img {
  height: 100px;
  width: auto;
}
