<div class="footer">

  <div class="container ">
    <div class="row">
      <div class="col-sm-3" *ngFor="let v of values">
        <img src="/assets/icons/{{ v.icon }}" class="iconMiddle hoverableBig"/>
        <div class="iconSubtitle">{{ v.text }}</div>
      </div>
    </div>
  </div>

</div>

<div class="container">
  <h1 class="h1">Unser Sortiment</h1>

  <div class="footer-sortiment">
    <div class="row">
      <div class="col-sm-6 col-md-3"><span class="clickable">Aktuelle Angebote</span></div>
      <div class="col-sm-6 col-md-3"><span class="clickable">Konserven & Feinkost</span></div>
      <div class="col-sm-6 col-md-3"><span class="clickable">Getränke</span></div>
      <div class="col-sm-6 col-md-3"><span class="clickable">Haushalt</span></div>
    </div>

    <div class="row">
      <div class="col-sm-6 col-md-3"><span class="clickable">Obst & Gemüse</span></div>
      <div class="col-sm-6 col-md-3"><span class="clickable">Kühlprodukte</span></div>
      <div class="col-sm-6 col-md-3"><span class="clickable">Drogerie</span></div>
      <div class="col-sm-6 col-md-3"><span class="clickable">Zigaretten & Tabak</span></div>
    </div>

    <div class="row">
      <div class="col-sm-6 col-md-3"><span class="clickable">Frühstück</span></div>
      <div class="col-sm-6 col-md-3"><span class="clickable">Tiefkühlkost</span></div>
      <div class="col-sm-6 col-md-3"><span class="clickable">Baby & Kind</span></div>
      <div class="col-sm-6 col-md-3"><span class="clickable"></span></div>
    </div>

    <div class="row">
      <div class="col-sm-6 col-md-3"><span class="clickable">Kochen & Backen</span></div>
      <div class="col-sm-6 col-md-3"><span class="clickable">Süßes & Salziges</span></div>
      <div class="col-sm-6 col-md-3"><span class="clickable">Tierbedarf</span></div>
      <div class="col-sm-6 col-md-3"><span class="clickable"></span></div>
    </div>
  </div>

  <div class="footer-logo">
    <a href="/">
      <img src="/assets/img/kl_logo.svg" class="hoverableBig"/>
    </a>
  </div>
</div>
