<div class="container app-form">
  <h1 *ngIf="!detailLink">Neuer Artikel anlegen</h1>
  <h1 *ngIf="detailLink">Artikel bearbeiten</h1>

  <form [formGroup]="articleForm" class="formComponent">

    <!-- Bild -->
    <div class="form-group row">
      <label class="col-2">Bild</label>

      <div class="col-10" style="padding-left: 0px; padding-right: 0px;">
        <img src="data:image/png;base64,{{ image.content }}" style="height: 154px;"
             onerror="this.src='assets/img/bildPlatzhalter.png'"/> <br/>
        <input type="file"
               class="form-control"
               formControlName="image"
               (change)="convertImageToBase64($event)">
      </div>
    </div>

    <!-- Name -->
    <div class="form-group row"
         [ngClass]="{'has-error' : articleForm.get('name').touched && articleForm.get('name').status == 'INVALID'}">

      <label class="col-2">Name*</label>
      <input type="text" class="form-control col-10" formControlName="name">

      <div class="col-2"></div>
      <small class="form-text col-10 errorMessage"
             *ngIf="articleForm.get('name').touched && articleForm.get('name').status == 'INVALID'">
        Bitte gebe einen gültigen Namen für den Artikel sein
      </small>
    </div>

    <!-- Beschreibung -->
    <div class="form-group row"
         [ngClass]="{'has-error' : articleForm.get('description').touched && articleForm.get('description').status == 'INVALID'}">

      <label class="col-2">Beschreibung*</label>
      <input type="text" class="form-control col-10" formControlName="description">

      <div class="col-2"></div>
      <small class="form-text col-10 errorMessage"
             *ngIf="articleForm.get('description').touched && articleForm.get('description').status == 'INVALID'">
        Bitte gebe eine kurze Beschreibung zum Artikel ein
      </small>
    </div>

    <!-- Preis -->
    <div class="form-group row"
         [ngClass]="{'has-error' : articleForm.get('price').touched && articleForm.get('price').status == 'INVALID'}">

      <label class="col-2">Preis*</label>
      <input type="number" class="form-control col-10" formControlName="price" step="0.01" min="0.01" value="0.00">

      <div class="col-2"></div>
      <small class="form-text col-10 errorMessage"
             *ngIf="articleForm.get('price').touched && articleForm.get('price').status == 'INVALID'">
        Bitte gebe einen gültigen Preis ein
      </small>
    </div>

    <!-- Buttons -->
    <button class="btn btn-primary" (click)="saveArticle()" [disabled]="articleForm.status == 'INVALID'"
            type="submit">
      Speichern
    </button>
    <button class="btn btn-tertiary" (click)="cancelEdit()">
      Abbrechen
    </button>

  </form>

</div>
