<div class="container admin-list">
  <h1 style="text-align: left;">Vorhandene Artikel</h1>

  <div class="top">
    <div class="backLinkDiv">
      <a href="/" class="backLink">
        Zurück zum Shop
      </a>
    </div>
    <div class="addButton">
      <button class="btn btn-secondary" (click)="addNewArticle()">
        Neuer Artikel anlegen
      </button>
    </div>
    <div style="clear: both;"></div>
  </div>

  <table class="table">
    <thead>
    <tr>
      <td width="10%">Bild</td>
      <td width="50%">Bezeichnung</td>
      <td width="10%">Preis</td>
      <td width="10%">Aktionspreis</td>
      <td width="10%"></td>
      <td width="10%"></td>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let article of articles | orderBy: 'name'">
      <td>
        <img src="data:image/png;base64,{{ article.image }}"
             alt="{{ article.name }}"
             *ngIf="article.image"
             class="icon"/>
        <img src="/assets/img/noImagePlaceholder.png" *ngIf="!article.image" class="icon"/>
      </td>
      <td>{{ article.name }}</td>
      <td>{{ article.price | currency : 'EUR' : true }}</td>
      <td>{{ article.promotionPrice | currency : 'EUR' : true }}</td>
      <td>
        <div (click)="editArticle(article)" class="tableButton">
          <img src="assets/icons/edit.svg" class="icon"/>
          bearbeiten
        </div>
      </td>
      <td>
        <div (click)="removeArticle(article)" class="tableButton">
          <img src="assets/icons/remove-circle.svg" class="icon"/>
          löschen
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>
